.compose {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  font-size: 4rem;
}
.compose:hover {
  cursor: pointer;
}
.postContainer:hover {
  cursor: pointer;
}
.postContainer a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}
.postContainer {
  border: 3px solid blue;
  margin: 2rem 1rem;
}
.postOwnerMenu {
  position: absolute;
  right: 25px;
}
.postOwnerMenuButton:hover {
  cursor: pointer;
}
.scrollerFooter {
  border: 2px solid red;
}
