.commentContainer {
  border: 2px solid red;
}
.postOwnerMenu {
  position: absolute;
  right: 25px;
}
.postOwnerMenuButton:hover {
  cursor: pointer;
}

.titleRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.titleRow h2 {
  margin: 0;
}
